* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

#nav-bar {
  width: 100%;
  background-color: #eee;
  position: fixed;
  padding: 20px;
}

.right-topnav {
  list-style: none;
  float: right;
}

ul li {
  float: left;
}

ul li a {
  text-decoration: none;
  padding: 14px 40px;
  color: #000;
}

#form {
  text-align: center;
  padding-top: 30px;
}

h1 {
  font-size: 2rem;
  margin-top: 70px;
}

input#email {
  margin-top: 20px;
  padding: 7px;
  width: 20%;
}

input#submit {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  background-color: #f1c40f;
  border: 0;
  border-radius: 5px;
  font-weight: 900;
}

iframe#video {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.row {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.row::after {
  display: block;
  clear: both;
  content: "";
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

div.box {
  width: 300px;
  padding: 20%;
  border: 2px solid #000;
  margin-left: 60px;
}

@media only screen and (max-width: 680px) {
  body {
    background-color: #f1c40f;
  }
}
